 <div class="modal-header">
 	<h1> 
 		<% if video.new_record? %>
 			New video
 		<% else %>
 			<%= "Editing video #{video.title}" %> 
 	  	<% end %>
 	</h1>

  	<%= simple_form_for video, class: 'clearfix', remote: true do |f| %>
 		<div class="modal-body">
 			 <%= f.input :title %>
 			 <%= f.input :className %>
 			 <%= f.input :experience %>
 			 <%= f.input :level_required %>
 			 <%= f.input :class_required %>
 		</div>
 		<div class="modal-footer">
        	<%= f.submit 'Save', class: 'btn btn-primary' %>
      	</div>
 	<% end %>
 </div>