<div>
  <% if @users.empty? %>
     <span class ="text-warning">There are no PPexer!</span>
  <% else %>
  	 <span class ="text-warning">There are PPexers!</span>
  	 <table class ="table table-bordered table-hover">
  	 	<head>
  	 		<tr>
  	 			<th> Name </th>
  	 			<th> Email </th>
  	 			<th> Class </th>
  	 		</tr>
  	 	</head>

  	 	<body>
  	 		<% @users.each do |user| %>
  	 			<tr>
  	 				<td><strong> <%= user.id %> </strong></td>
  	 				<td class="text-info"> <%= user.email %> </td>
  	 				<td class="text-info"> <%= user.user_profile.profile_class %> </td>
  	 			</tr>
  	 		<% end %>
  	 	</body>
  	 </table>


  	 <div class="text-center">Current user: <strong><%= current_user.email %></strong></div>
     <div class="text-center"><strong><%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'btn btn-primary' %>
  <% end %>

</div>